<div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'leafiy';
        var disqus_identifier = '{{id}}';
        function disqus_config() {
            this.callbacks.afterRender = [function() {
                    console.log('hhhh')
            }];
        }
        disqus_config()
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


